@import 'https://fonts.googleapis.com/css?family=Poppins:400,700';

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  margin: 0;
  font-family: sans-serif;
}

#soundcloud-iframe {
  display: none;
}

#credits {
  flex: 0 1 auto;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#title {
  font-size: 1.25rem;
}

#people {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

#people p {
  margin: 0;
  line-height: 2rem;
}

.strange-thing {
  animation: stranger-things 2.9s 1 ease-in-out;
}

@keyframes stranger-things {
  0% {
    color: #421112;
  }

  .75% {
    color: #79413f;
  }

  1.5% {
    color: #996c6f;
  }

  2.25% {
    color: #a48b89;
  }

  3% {
    color: #b1b0af;
  }

  3.75% {
    color: #d7d4d4;
  }

  75% {
    color: #d7d4d4;
  }

  77% {
    color: #a38489;
  }

  79% {
    color: #6e2e37;
  }

  81% {
    color: #4d1319;
  }

  83% {
    color: #400b11;
  }

  85% {
    color: #2e060c;
  }

  87% {
    color: #000000;
  }

  100% {
    color: #000000;
  }
}
